{% extends 'main.html' %}


{% block content%}

<h1>Dashboard</h1>
<div class="row">
    <div class="col-6">
        <h3>My courses</h3>
        <div class="card"><b>card</b></div>
        <div class="card">{{card | safe}}</div>
        {% for course in courses %}
            <div class="card">
                <h2>{{course.course_name}}</h2>
                    <p>Duration about {{course.expected_duration}} hours</p>
                <p>{{course.course_overview}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="col-6">
        <h3>Recomended courses</h3>
    </div>

</div>

{% endblock %}