{% load static %}
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/student_dashboard/css/dashboard.css' %}">
</head>

<body>
<div class="container-fluid text-center bg-light mt-5">
    <h2>Login Knodeon Student Dashboard</h2>
    <!-- <img src="{% static '/' %}" width="60"> -->
    <div class="row">
        <div class="mx-auto mt-4">
            <form class="mx-auto" method="post">
            {% csrf_token %}
            <p>
                <fieldset class="form-control">
                <label for="id_username">Email:</label> <input type="text" name="username" autofocus maxlength="254" required id="id_username" />
                </fieldset>
            </p>
            <p>
                <fieldset class="form-control">
                <label for="id_password">Password:</label> <input type="password" name="password" required id="id_password" />
                <button type="button" id="show_hide" name="show_hide">Show</button>
                </fieldset>
            </p>
            <button class="btn btn-block bg-knowdeon-blue" type="submit">Login</button>
            </form>
            <p><a href='#'>I forgot my password</a></p>
            <p>You do not have account.</p>
            <a class="btn btn-block bg-knowdeon-blue text-dark" href='/student_dashboard/signup/'>Sign up</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="{% static 'student_dashboard/js/index.js' %}"></script>
</body>
