
{% load static %}
<head>
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/student_dashboard/css/dashboard.css' %}">
</head>

<div class="container-fluid text-center">
    <div class="row">
        <div class="mx-auto mt-5">
        <h2>Successfully logged out</h2>
        <p>Thanks for spending some quality time with Knowdeon MLP.</p>
        <p><a href="/student_dashboard/login" class="btn bg-knowdeon-blue text-light">Log in again</a></p>
        <br class="clear">
        </div>
    </div>
    <p><a href="http://www.knowdeon.com">www.knowdeon.com</a></p>
</div>